<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159140060514-4mvcegdom75jsp7ndmeqtoahqvgma1n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159140060514-4mvcegdom75jsp7ndmeqtoahqvgma1n6</string>
	<key>API_KEY</key>
	<string>AIzaSyB6XMMbdWsbv2C_he34b9N2Pj_9Eee1qCY</string>
	<key>GCM_SENDER_ID</key>
	<string>159140060514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AhmedTarek.Meet-Learn</string>
	<key>PROJECT_ID</key>
	<string>meet-and-learn-1709f</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-and-learn-1709f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159140060514:ios:63f5e401d16796c0aae03b</string>
	<key>DATABASE_URL</key>
	<string>https://meet-and-learn-1709f.firebaseio.com</string>
</dict>
</plist>